body {
	font-family: 'Maven Pro', sans-serif;
	background-color: black;
	position: relative;
	padding-bottom: 100px;
	min-height: 100vh;

}



.nav-link {
	color: #299a4e;
	font-weight: bold;
}

.navbar {
	background-color: #ffd150 ;
}

footer {
	background-color: #299a4e;
	min-height: 50px;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
/*	padding-top: 1vh;
	padding-bottom: 2vh;*/
}

#brand-logo {
	height: 50px;
}

.navbar-brand {
	margin: 0;
	padding: 0;
}

.admindiv {
	background-color: #299a4e;
	color: #ffd150;
	border: 5px solid #ffd150;
}

h2 {
	color: #ffd150;
	font-weight: bold;
}

hr {
	background-color: #ffd150;
}

.btn {
	background-color: #ffd150;
	color : #299a4e;
	font-weight: bold;
}

.card {
	background-color: #299a4e;
	border: 5px solid #ffd150;
	color: #ffd150;
}

.modal-content {
	border: 5px solid #ffd150;
	background-color: #299a4e;

}

.modal-info {
	color: #ffd150;
}

table, th, td {
	border: 2px solid #ffd150;
	color: black;
}

#welcome {
	height: 75vh;
	background-image: url("./assets/welcomebanner.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

}

